development:
  adapter: postgresql
  encoding: unicode
  database: rails-boilerplate_development
  pool: 5
  username: postgres
  password: postgres

test:
  adapter: postgresql
  encoding: unicode
  database: rails-boilerplate_test
  pool: 5
  username: postgres
  password: postgres

production:
  adapter: postgresql
  encoding: unicode
  database: rails-boilerplate_production
  pool: 5
  username: postgres
  password: postgres
